.grid{
	display: grid;
	grid-template-columns: 42% 58%;
	grid-gap: 0rem;
	padding: 0px;
	align-items: center;
}

.heading {
	padding: 2rem 0 4rem 0;
	box-shadow: 0rem 0.2rem 1rem var(--color-grey-light);
	text-align: center;
	margin-bottom: 2rem;
	background: var(--color-primary);
	color: var(--color-light);
}

.activities h1 {
	font-size: xx-large;
	margin-bottom: 0.5rem;
}

.heading > p {
	font-style: italic;
	opacity: 0.7;
	font-size: smaller;
}

aside {
	padding: 3rem 5rem;
	height: 70vh;
}

.details{
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding-inline: 3.5rem;
}


.pageNav{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	position: absolute;
	top: 40%;
	left: 0;
	height: 2rem;
	width: 2rem;
	padding: 2rem;
	background: var(--color-light);
	box-shadow: 0rem 0rem 0.5rem var(--color-grey-light);
	border-radius: 30%;
	box-shadow: 0rem 0rem 2rem var(--color-dark);
}

.pageNav:hover {
	cursor: pointer
}

.pageNav svg {
	height: 20px;
	width: 20px;
}

.tooltip {
	position: absolute;
	display: none;
	padding: 0.3rem 0.7rem;
	/*transform: translate(10px, 10px);*/
	font-size: 0.8rem;
	font-weight: 500;
	border-radius: 0.5rem;
	background: var(--color-dark);
	border: 0.5px solid var(--color-grey-light);
	color: var(--color-light);
	pointer-events: none;
}

