@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-size: 10px;
  color-scheme: light;
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  /* Colours */
  --color-dark: rgba(33, 37, 41, 1);
  --color-primary: rgba(4, 56, 115, 1);
  --color-primary-light: rgba(4, 56, 116, 0.3);
  --color-secondary: rgba(79, 156, 249, 1);
  --color-secondary-light: rgba(196, 222, 253, 1);
  --color-success: rgba(0, 255, 127, 1);
  --color-warning: rgba(255, 87, 51, 1);
  --color-danger: rgba(199, 0, 57, 1);
  --color-accent: rgba(255, 228, 146, 1);
  --color-light: rgba(255, 255, 255, 1);
  --color-grey: rgba(188, 188, 188, 1);
  --color-grey-light:rgba(188, 188, 188, 0.3);
  --color-purple-light: rgba(204, 204, 255 , 0.3);
  --color-purple: rgba(93, 63, 211,1);


  /* Sizes */
  --sz-mini: 0.5rem;
  --sz-sm: 1rem;
  --sz-xsm: 1.5rem;
  --sz-md: 2rem;
  --sz-xmd: 2.4rem;
  --sz-xxmd: 3rem;
  --sz-lg: 3.5rem;
  --sz-xlg: 4rem;
  --sz-xxlg: 5rem;
  --sz-big: 10rem;
  --sz-xbig: 20rem;
  --sz-giant: 40rem;

  /* Font Sizes */
  --fs-xsm: 0.5rem;
  --fs-sm: 1rem;
  --fs-normal: 1.6rem;
  --fs-lg: 2.5rem;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: var(--fs-normal);
}

/* Basic Elements */
input {
	outline: none;
	border: none;
	border-radius: var(--sz-sm);
}

/* General Utilities */
.hidden {
	display: none;
}

.live {
	background: var(--color-success);
	color: var(--color-primary);
}

/* status styles */
.pending {
	background: var(--color-accent);
	color: var(--color-dark);
}

.inactive {
	background: var(--color-grey-light);
	color: var(--color-dark);
	opacity: 0.9;
}

@media (prefers-color-scheme: dark) {

}
