.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
	color: var(--color-light);
	min-height: 100vh;
}

.content > a {
	margin-top: var(--sz-lg);
}

.button {
	width: auto;
	margin-top: 2rem;
}