/* utility classes */

.message {
	padding: 2rem 3rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	height: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.success {
	background: rgba(0, 255, 127, 0.6);
	border: 0.2px solid var(--color-success);
	color: var(--color-dark);
}

.error {
	background: rgba(199, 0, 57, 0.6);
	border: 0.2px solid var(--color-danger);
	color: var(--color-light);
}

.progress {
	width: 100%;
	height: 2rem;
	border-radius: 1rem;
	overflow: hidden;
	margin-top: 1rem;
	/*color: var(--color-success);*/
}

progress::-webkit-progress-bar {
	background-color: var(--color-purple);
}

/* the progress bar itself */
progress::-webkit-progress-value {
	background-color: var(--color-success);
}

/* For Mozilla (Firefox) */
/*progress::-moz-progress-bar {
	background-color: var(--color-grey);
}*/

/* For IE and Edge */
/*progress {
	background-color: var(--color-success);
}*/

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 3rem;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	z-index: 10;
	width: 90vw !important;
}

.onboardingArea{
	background: var(--color-light);
	position: relative;
}

.onboardingArea::before{
	content: "";
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 50%;
	height: 100%;
	background: url("../assets/gaming2.png") no-repeat center center/cover;
	z-index: 1;
}

.onboardingArea::after{
	content: "";
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 50%;
	height: 100%;
	background: rgba(33, 37, 41, .6);
	z-index: 2;
	mix-blend-mode: multiply;
}

.mainArea {
	color: var(--color-light);
	padding-right: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:auto;
	width: 100%;
	padding: var(--sz-md);
}

.mainArea h1 {
	font-size: var(--sz-xmd);
	margin-bottom: 2rem;
}

.formArea {
	color: var(--color-dark);
	width: 100%;
	padding: 2rem 5rem;
	font-size: 1.5rem;
	background: var(--color-light);
	padding: var(--sz-lg) var(--sz-xlg);
	border-radius: var(--sz-md);
	margin-block: auto;
}


.formItem {
	margin-bottom: var(--sz-xsm);
}

.formItem label {
	display: block;
	color: var(--color-dark);
	font-size: 1.3rem;
	margin-bottom: .5rem;
	font-weight: 500;
}

.formItem input {
	padding: var(--sz-xsm);
	border-radius: var(--sz-sm);
	background: var(--color-light);
	box-shadow: 0rem 0.5rem 1.5rem var(--color-grey);
	width: 100%;
	color: var(--color-dark);
	font-size: 1.5rem;
}

input:disabled {
	color: var(--color-grey);
}

.formItem i {
	display: block;
	font-size: 1.1rem;
	font-style: italic;
	margin-top: 1rem;
	margin-left: 0.5rem;
	color: var(--color-dark);
}

.nameDiv,
.randDiv {
	display: flex;
	gap: 1rem;
}
.nameDiv > div,
.randDiv > div {
	flex: 1;
}

.btnDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.submitBtn{
	display: inline-block;
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background: var(--color-primary);
	color: var(--color-light);
	transition: all .5s ease-in-out;
	font-size: 1.6rem;
	cursor: pointer;
}

.submitBtn:hover {
	background: var(--color-accent);
	color: var(--color-color-primary);
}
