.navItem{
	display: flex;
	gap: 0.7rem;
}

.navItem span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.isactive {
	background: var(--color-accent) !important;
	color: var(--color-primary) !important;
}