/* Geneeral styling  */
.sectionWrapper {
	display: flex;
	flex: 1;
	gap: 3rem;
	align-items: center;
}

.landingSection {
	display: flex;
	gap: 2rem;
	padding-block: 3rem;
}

.sectionText {
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.sectionHeading {
	font-size: var(--sz-xlg);
	margin-bottom: var(--sz-md);
	line-height: 1.1em;
}

.sectionText p {
	margin-bottom: var(--sz-xmd);
}

.sectionImage {
	flex-basis: 60%;
	height: 40rem;
	border-radius: var(--sz-md);
	transition: all 0.3s ease-in-out;
}

.sectionImage:hover {
	scale: 1.05;
	filter: hue-rotate(-45deg);
	transform: translateY(-20px);
}

.sectionBtn {
	width: clamp(5rem, 16rem, 19.6rem);
}

.sectionBtn a span {
	margin-left: 1rem;
}

.sectionBtn a:hover {
	background: var(--color-accent);
	color: var(--color-primary);
}

.center {
	text-align: center;
}

.accent {
	background-color: var(--color-accent);
}

.swoosh {
	display: inline-block;
	width: 20%;
	height: 1rem;
	position: absolute;
	bottom: 1rem;
	align-self: center;
}

/* Section-specific styles */
#hero-section {
	min-height: calc(100vh - 92px);
	background: var(--color-primary);
	color: var(--color-light);
}

#hero-section .sectionImage {
	background: url("../assets/happypople1.png") center center/cover;
}

#features-section .sectionImage{
	background: url("../assets/votewaveimg3.png") center center/cover;
}